{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "prefer-const": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
